<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property resource="application.properties" />
    <property name="MAVEN_VERSION" value="${maven.project.version}" />
    <springProperty name="LOG_PATH" source="log.file.path" defaultValue="." />

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender" >
        <encoder class="cli.rabbit.client.rabbitclient.logger.ConditionalPatternLayoutEncoder">
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}) %clr(%m){cyan} %clr(%X{verbose}){yellow} %n</pattern>
            <errorPattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}) %clr(%m%n)</errorPattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- active log file -->
        <file>${LOG_PATH}/accounting-service-${MAVEN_VERSION}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily-->
            <fileNamePattern>${LOG_PATH}/archived-accounting-service/accounting-service-${MAVEN_VERSION}-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="RollingFile" />
    </root>
    <logger name="cli.rabbit.client.rabbitclient.consumer" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="cli.rabbit.client.rabbitclient.config" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="cli.rabbit.client.rabbitclient.publisher" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
